.data-carousel {
  display: block;
  height: 600px;
  width: 100vw;
  position: relative;
  margin-bottom: 1rem;
  background-color: #7AB5B6;
}

.block-one {
  background-position:center center;
  background-repeat:no-repeat;
  position:relative;
  display:block;
  height:100%;
  width:100%;
  z-index:300;
  margin-bottom: 1rem;
  overflow:hidden;
  background-color: yellow;
}

.leftContent {
  height: inherit;
  width: 40%;
  position: absolute;
  display:block;
}

.leftContent .leftCCon {
  padding: 100px 120px;
  background-color: white;
  border-radius: 10px;
  margin: 0 1rem 40px 1rem;
  -webkit-box-flex: 0;
          flex: 0 0 22%;
  box-shadow: 5px 10px 10px rgba(201, 201, 201, 0.2), 5px 30px 20px rgba(201,201,201,0.1);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: background-color 250ms ease, box-shadow 250ms ease;
  transition: background-color 250ms ease, box-shadow 250ms ease;
}
  
.rightContent {
  height: inherit;
  width: 60%;
  left: 40%; 
  position: relative;
  z-index: 100;
}

.footer {
  background-position:center center;
  background-repeat:no-repeat;
  position:relative;
  display:block;
  height:300px;
  width:100%;
  margin: 1rem 0 1rem 0;
  z-index:500;
  overflow: hidden;
  background-color: yellow;
}

/* Flickity carousel items*/
.items {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  /*-webkit-box-pack: justify;
          justify-content: space-between;*/
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  margin: 1rem 1rem 1rem 2rem;
  align-content: center;
  max-height: 100%;
}

.items .item {
  display: block;
  background: #545dff;
  border-radius: 10px;
  margin: 0 0 40px 1rem;
  -webkit-box-flex: 0;
          flex: 0 0 22%;
  box-shadow: 5px 10px 10px rgba(84,93,255,0.2), 5px 30px 20px rgba(84,93,255,0.1);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: background-color 250ms ease, box-shadow 250ms ease;
  transition: background-color 250ms ease, box-shadow 250ms ease;
  width: 60%;
}

.items .item.is-selected {
  background-color: #ff6780;
  box-shadow: 5px 10px 10px rgba(255,103,128,0.2), 5px 30px 20px rgba(255,103,128,0.1);
}

.items .item:hover {
  background-color: #4d57ff;
  box-shadow: 5px 7px 7px rgba(84,93,255,0.3), 5px 20px 12px rgba(84,93,255,0.1);
}

.items .item .item--title {
  font-size: 26px;
  line-height: 1.35;
  padding: 0.5rem 1.5rem;
  margin: 1rem 0 1.5rem 0;
  position: relative;
}

.items .item .item--description {
  font-size: 26px;
  line-height: 1.35;
  padding: 0.5rem 1.5rem;
  margin: 1rem 0 1.5rem 0;
  position: relative;
}

.flickity-enabled.items {
  display: block;
  margin: 0;
}

.flickity-enabled.items .item {
  width: 70%;
}

@media only screen and (max-width: 1000px) {
  .flickity-enabled.items .item {
    width: 28%;
  }
}

@media only screen and (max-width: 600px) {
  .flickity-enabled.items .item {
    width: 44%;
  }
}

/*Buttons for data carousel*/
.buttons {
  font-size: 22px;
  margin: .5em;
  display: block;
}

.button-prev {
  font-family: FontAwesome;
  content: "\f137";
  font-size: 22px;
  width: 50px;
  height: 50px;
  position: relative;
  left: 1rem;
  bottom: 1rem;
  float: left;
  
}

.button-next {
  font-family: FontAwesome;
  content: "\f138";
  font-size: 22px;
  width: 50px;
  height: 50px;
  position: relative;
  right: 1rem;
  bottom: 1rem;
  display: block;
  float: right;
  
}

.button-prev::before {
    font-family: FontAwesome;
    content: "\f053";
    font-size: 22px;
}  
.button-next::before {
    font-family: FontAwesome;
    content:  "\f054";
    font-size: 22px;        
}